{% extends "layout.html" %}

{% block body %}
<div class="container mt-5 text-white">
<h3>Admin Paneli</h3>

<hr>

{% if users %}
    <table class="table table-hover table-dark mt-2" style="border-radius:5px;">
        <thead>
        <tr>
            
            <th scope="col">Ad</th>
            <th scope="col">Nickname</th>
            <th scope="col">Id</th>
            <th>İşlemler</th>
            
            
        </tr>
        </thead>
        <tbody>
            {% for user in users[::-1] %}
                <tr>

                    <th scope="row">{{user.name}}</th>
                    <td><a class="text-white text-decoration-none" href="">{{user.username}}</a></td>
                    <td>{{user.id}}</td>
                    <td><a href="" class="btn btn-danger text-white">Yetki Ver</a></td>
                    <td><a href="/users/delete/{{user.id}}" class="btn btn-danger text-white">Kullanıcıyı Sil</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}

{% endif %}




</div>
{% endblock %}